appdirs==1.4.4
certifi==2020.12.5
chardet==4.0.0
distlib==0.3.1
docutils==0.16
filelock==3.0.12
idna==2.10
importlib-metadata==3.3.0
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
Pygments==2.7.3
pypiwin32==223
pywin32==300
requests==2.25.1
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.2
virtualenv==20.2.2
zipp==3.4.0

